.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-body {
  display: flex;
  align-items: center;
}
/* .login__container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #ffffff;
  justify-content: space-around;
  padding: 20px 0px;
}

.login__title {
  margin: 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
}

.login_input {
  height: 4vh;
  width: 80%;
  font-size: 0.75rem;
  margin: 1vh 0vh;
  padding: 5px;
  border: solid 1px $gray-normal;
}

.login__link,
.login__link:visited {
  text-decoration: none;
  color: $bluenormal;
}

@media only screen and (min-width: 768px) {
  .login__element {
    border: red solid 2px;
  }
} */
