.login__container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login__element {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 20px 0px;
}

.login__title {
  margin: 0;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
}

.login_input {
  height: 4vh;
  width: 80%;
  font-size: 0.75rem;
  margin: 1vh 0vh;
  padding: 5px;
  border: solid 1px $gray-normal;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  width: 80%;
  font-size: 0.9rem;
  color: #fff;
  background: linear-gradient(180deg, $blueprimary 0%, $bluenormal 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px $bluedarktransp,
    inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1.5px rgba(54, 122, 246, 0.25),
    0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.login__link,
.login__link:visited {
  text-decoration: none;
  color: $bluenormal;
}

@media only screen and (min-device-width: 768px) {
  .login__element {
    height: 70vh;
    width: 50vw;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.1),
      0.2em 0.2em 0.5em rgba(0, 0, 0, 0.2);
  }
}
