.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
  width: 100vw;
  border-bottom: solid 1px $gray-normal;
  position: sticky;
  // Posible definicion de top
}

.navbar__logotext {
  font-size: 2em;
}

.navbar__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  font-size: 1.5em;
  margin-left: 5vw;
}
.navbar__avatar {
  width: 10vw;
}

@media only screen and (min-device-width: 768px) {
  .navbar__logotext {
    font-size: 2.5em;
  }
  .navbar__avatar {
    width: 5vw;
  }
  .navbar__link {
    font-size: 1.7em;
  }
}
