.user-container {
  display: flex;
  min-height: 80vh;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}

.user-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-comments {
  padding: 0 5vw;
}
