.modal__container {
  background-color: rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.modal__content {
  font-size: 24px;
  margin-bottom: 24px;
}
