.button {
  align-items: center;
  border: none;
  border-radius: 8px;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 64px;
  justify-content: center;
  width: 300px;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  background-color: #0275d8;
}

.button--danger {
  background-color: #d9534f;
}
